.home{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.Sidebar{
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
}
.Messages{
    flex:2;
    height: 100vh;
    background-color: rgb(236, 233, 233);
    overflow-x: hidden;
}
.EnterMsg{
  display: flex;
  align-items: center;
  width: 66%;
  height: 70px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.EnterMsg .textInput{
    width: 80%;
    height: 40px;
    border: none;
    background-color: rgb(226, 224, 221);
}
::placeholder{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"]{
    padding: 10px;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
label{
    width: 5%;
    font-size: 29px;
}
.EnterMsg button{
    width: 10%;
    height: 50px;
    border: none;
    background-color: aquamarine;
    color: white;
    font-size: 22px;
}
.Nav{
    height: 50px;
    width: 100%;
    overflow-x: none;
    background-color: rgb(22, 103, 76);
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: none;
}
.TalkingPerson img{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
} 
.CallsWay img{
    height: 25px;
    width: 25px;
}
.CallsWay{
    flex: 1;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.TalkingPerson span{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.TalkingPerson{
    flex: 5;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.MsgSection{
    height: 500px;
    gap: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction:column;
    padding: 20px;
    justify-content: end;
}